<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs"/>
    <timestamp key="dateFormat" datePattern="yyyy-MM-dd"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>${LOGS}/log-file-adapter-${dateFormat}.log</file>
        <encoder>
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="File"/>
        <appender-ref ref="Console"/>
    </root>

    <logger name="it.kirill" level="debug" additivity="false">
        <appender-ref ref="File"/>
        <appender-ref ref="Console"/>
    </logger>

</configuration>